body {background-color: azure;
margin: 0}
.sqare {
    width: 150px;
    height: 150px;
    margin: 25px;
    background-color: orange;
    box-sizing: border-box;
    padding: 70px;
}
.shadowA{
    box-shadow: #2d2b2b 9px 9px 1px 1px;

}
.shadowB{
    box-shadow: #2d2b2b 9px 9px 4px 3px;
}
.shadowC{
    box-shadow: #2d2b2b 12px 12px 2px 4px;
}
.shadowD{
    box-shadow: darkgrey 15px 16px 2px 4px;
}
.shadowE{
    box-shadow: #2d2b2b 12px 12px 2px 4px;
}
.shadowF{
    box-shadow: darkgrey 12px 12px 2px 4px;
}
.sqareA{
    border-radius: 5px;
    width: 150px;
    height: 150px;
    margin: 25px;
    background-color: orange;
    box-sizing: border-box;
    padding: 70px;
}