.lesson{
    text-align: center;
    background-color: darkred;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 15px;
}
.lor1{
    background: silver;
    padding: 20px;
    box-sizing: border-box;
}
.lor2{
    background: lightblue;
    box-sizing: border-box;
    height: 100px;
    padding-top: 40px;
}
.third {
    width: 200px;
    height: 200px;
    background: #6aba67;
}

.fourth {
    border-radius: 20px;
    background: #8986ac;
}


.fifth {
    width: 200px;
    height: 200px;
    background: gray;
    border-radius: 18px;
}